In [20]:
from cluster_similarity import ClusterSimilarity
from similarity_measures import SimilarityMeasures as sm

In [2]:
elements_to_consider = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
cluster_1 = {"c1": ['A', 'B', 'C', 'D', 'E'], "c2": ['F', 'G', 'H', 'I', 'J']}
cluster_2 = {"c1": ['A', 'B', 'C', 'D', 'E'], "c2": ['F', 'G', 'H', 'I', 'J']}
cluster_3 = {"c1": ['A', 'B'], "c2": ['C', 'D', 'E', 'F'],
             "c3": ['G'], "c4": ['H', 'I', 'J']}

In [4]:
#similarity_measures = sm().overlap_coefficient
df_similarity = ClusterSimilarity(cluster_3, cluster_1).calculate_similarity()
df_similarity

         c1    c2  n_col
c1      1.0   0.0    1.0
c2     0.75  0.25    2.0
c3      0.0   1.0    1.0
c4      0.0   1.0    1.0
n_row   2.0   3.0    NaN

In [16]:
import pandas as pd

df_tsne = pd.read_excel('project_cluster_topic_daria_tsne_pp6_gpt4o.xlsx', dtype={'Topic': str,'id': str})
df_umap = pd.read_excel('project_cluster_topic_daria_umap_nn16_gpt4o.xlsx', dtype={'Topic': str,'id': str})

dict_tsne = {topic:[] for topic in df_tsne['Topic'].unique()}
dict_umap = {topic:[] for topic in df_umap['Topic'].unique()}

for index, row in df_tsne.iterrows():
    dict_tsne[row['Topic']].append(row['id'])

for index, row in df_umap.iterrows():
    dict_umap[row['Topic']].append(row['id'])

In [23]:
similarity_measures = sm().jaccard_similarity
df_similarity = ClusterSimilarity(dict_tsne, dict_umap, similarity_measures=similarity_measures).calculate_similarity()
df_similarity

,2,9,10,3,1,0,8,7,5,11,4,6,n_col
1,0.705882,0.130435,0.0,0.0,0.0,0.0,0.038462,0.0,0.0,0.0,0.0,0.0,3.0
0,0.0,0.26087,0.0,0.0,0.0,0.0,0.034483,0.0,0.0,0.0,0.0,0.631579,3.0
8,0.0,0.0,0.052632,0.0,0.0,0.0,0.75,0.0,0.0,0.0,0.0,0.0,2.0
5,0.0,0.0,0.0,0.923077,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.5,0.0,0.0,0.0,0.181818,0.0,0.0,0.0,2.0
6,0.0,0.0,0.0,0.0,0.0,0.611111,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.0,0.043478,0.0,0.038462,0.0,0.0,0.0,0.0,0.0,0.0,0.8,0.0,3.0
3,0.038462,0.0,0.5,0.0,0.0,0.185185,0.0,0.0,0.0,0.0,0.0,0.0,3.0
7,0.0,0.0,0.0,0.0,0.136364,0.0,0.0,0.533333,0.0,0.0,0.0,0.0,2.0
10,0.0,0.0,0.0,0.0,0.047619,0.0,0.0,0.176471,0.105263,0.125,0.0,0.0,4.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.047619,0.045455,0.666667,0.0,0.0,3.0
11,0.0,0.0,0.058824,0.0,0.047619,0.083333,0.0,0.0,0.166667,0.0,0.05,0.0,5.0
12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.230769,0.0,0.0,0.0,1.0
n_row,2.0,3.0,3.0,2.0,4.0,3.0,3.0,3.0,5.0,2.0,2.0,1.0,NaN