In [ ]:
from cluster_similarity import ClusterSimilarity
from similarity_measures import SimilarityMeasures as sm

In [1]:
elements_to_consider = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
cluster_1 = {"c1": ['A', 'B', 'C', 'D', 'E'], "c2": ['F', 'G', 'H', 'I', 'J']}
cluster_2 = {"c1": ['A', 'B', 'C', 'D', 'E'], "c2": ['F', 'G', 'H', 'I', 'J']}
cluster_3 = {"c1": ['A', 'B'], "c2": ['C', 'D', 'E', 'F'],
             "c3": ['G'], "c4": ['H', 'I', 'J']}

In [ ]:
similarity_measures = sm().overlap_coefficient
df_similarity = ClusterSimilarity(cluster_3, cluster_1, similarity_measures=similarity_measures).calculate_similarity()
df_similarity

             c1        c2  n_col
c1     0.571429       0.0    1.0
c2     0.666667  0.222222    2.0
c3          0.0  0.333333    1.0
c4          0.0      0.75    1.0
n_row       2.0       3.0    NaN