In [7]:
import pandas as pd

In [ ]:
elements_to_consider = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
cluster_1 = {"c1": ['A', 'B', 'C', 'D', 'E'], "c2": ['F', 'G', 'H', 'I', 'J']}
cluster_2 = {"c1": ['A', 'B', 'C', 'D', 'E'], "c2": ['F', 'G', 'H', 'I', 'J']}
cluster_3 = {"c1": ['A', 'B'], "c2": ['C', 'D', 'E', 'F'],
             "c3": ['G'], "c4": ['H', 'I', 'J']}

In [ ]:
def overlap_coefficient(list1: list, list2: list) -> float:
    set1, set2 = set(list1), set(list2)
    intersection = len(set1 & set2)
    return intersection / min(len(set1), len(set2)) if min(len(set1), len(set2)) != 0 else 0


def cluster_similarity(cluster1: dict[str, list[str]], cluster2: dict[str, list[str]], threshold:int = 0) -> pd.DataFrame:
    df = pd.DataFrame(columns=cluster2.keys(), index=cluster1.keys())

    for key, value in cluster1.items():
        for key2, value2 in cluster2.items():
            df.at[key, key2] = overlap_coefficient(value, value2)
    n_row = (df > threshold).sum(axis=0)
    n_col = (df > threshold).sum(axis=1)
    df['n_col'] = n_col
    df.loc['n_row'] = n_row
    return df


df = cluster_similarity(cluster_3, cluster_1)
df

         c1    c2  n_col
c1      1.0   0.0    1.0
c2     0.75  0.25    1.0
c3      0.0   1.0    1.0
c4      0.0   1.0    1.0
n_row   2.0   2.0    NaN